html {
    background: rgba(65, 188, 147, 0.878);
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background: rgb(255, 255, 255);

}

table {
    border: none;
    border-collapse: collapse;
    padding: 4em;
    
}

#myTable, #posts {
    margin: 0 auto;
    width: 60%;
}

#banner {
    text-align: center;
    font-size: 3em;
    
    color: white;
    background-color: rgb(127, 255, 212);
    padding: 20px;
    margin-bottom: 1em;
}

h2#banner {
    margin-top: -2em;
    margin-bottom: 1em;
    padding: 1em;
    color: rgb(123, 163, 150);
    background: rgba(127, 255, 212, 0.25);
    text-align: center;
    font-size: 2em;
    z-index: 0;
}

h2.cat-title {
    margin-top: 2em;
    margin-bottom: 1em;
    color: rgb(123, 163, 150);
    font-size: 1.5em;
    text-align: center;
}

p.cat-desc {
    color: rgba(4, 107, 73, 1);
    background: rgba(57, 206, 157, 0.543);
    width: 500px;
    margin: 0 auto 30px auto;
    padding: 2em;
    text-align: center;
    font-size: 1em;
}

.home-button {
    text-align: center;
}

a {
    color: rgb(123, 163, 150);
    text-decoration: none;
}

a:hover {
    color: rgba(4, 107, 73, 1);
    text-decoration: none;
}

a:active {
    color: rgb(127, 212, 184);
    text-decoration: none;
}

#content {
    margin: 0 auto;
}

/* #content a{
   text-align: center;

} */

#mytable th:nth-child(1) {
    border-right: 1px solid rgba(4, 107, 73, 1);
}

th {
    border: 1px solid rgba(127, 255, 212, 0.25);
    font-weight: bold;
    padding: 2em;
    text-align: center;
    color: rgb(123, 163, 150);
    background: rgba(127, 255, 212, 0.25);
}

th a {
    text-decoration: none;
}

th a:hover {
    color: rgba(4, 107, 73, 1);
    text-decoration: none;
}

th a:active {
    color: rgb(127, 212, 184);
    text-decoration: none;
}

td {
    border: 1px solid rgb(127, 255, 212);
    padding: 6px;
}

.num_posts_col {text-align: center;}

#nav {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
}

#nav-left {
    margin-left: 2em;
    margin-top: 3em;
}

.center, .liquid-slider {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#home, #buy-now {
    font-size: 1em;
    border: 1px solid rgba(127, 255, 212, 0.25);
    background: rgba(127, 255, 212, 0.25);
    color:rgb(123, 163, 150);
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 .5em rgba(4, 107, 73, 1);
}

#home:hover, #buy-now:hover {
    color: rgba(4, 107, 73, 1);
    background: rgba(57, 206, 157, 0.543);
    box-shadow: 0 .5em rgb(3, 77, 52);
}

#home:active, #buy-now:active {
    box-shadow: 0 .2em rgb(3, 56, 39);
    transform: translateY(4px);
}

div[class^="main-slider"] {
    
    background: rgb(188, 226, 214);
}

.panel-container {
    margin: 0 auto;
}

.title {
    font-size: 20pt;
    margin-top: 30px;
    margin-bottom: 5px;
    color:rgb(123, 163, 150);
}



form {
    margin-left: 2em;
}

form p {
    color: rgb(123, 163, 150);
    margin-top: 1.5em;
}

form textarea {
    width: 70%;
}

form input {
    width: 40%;
}

h2 strong {
    color:rgb(3, 56, 39);
    font-weight: bold;
}

h1 strong {
    color:rgb(87, 170, 143);
    font-weight: bold;
}

img {
    float: center; 
    margin: 4rem;
    width: 80%; 
    height: 15rem;
}

#Capa_1 {
    position: absolute;
    top: 100px;
    right: 30px;
    z-index: 1;

}

.cart, .wheels {
    width: 10px;
    height: 10px;
    fill: rgb(123, 163, 150);
  
}

.wheels {
    fill:rgb(3, 56, 39);
}

#Capa_1:hover {
    filter: brightness(.50);
}

@media only screen and (max-device-width: 840px) {
    p.cat-desc {
        width: 4rem;
        text-align: center;
    }

    #Capa_1 {
        position: static;
        margin-right: 30px;
    }

    .shop-icon {
        text-align: right;
    }

    p.cat-desc {
        margin: 0 auto 30px auto;
        width: 300px;
        padding: 50px;
        text-align: center;
    }


}

@media only screen and (max-device-width: 595px) {

    #Capa_1 {
       margin: 0 auto;
    
    }

    .shop-icon {
        text-align: center;
        
    }


    p.cat-desc {
        margin: 0 auto 30px auto;
        width: 100px;
        padding: 50px;
        text-align: center;
    }

}